Repository tony9402/baekjoon, pull requests merged in 2021-11, with the labels that each got.

#257 [ADD] 2615 java solution
  solution/brute_force/2615/Main.java
Labels: Solution, Accept, Simple Check Success, Java

#260 [ADD] 20300 cpp solution
  solution/greedy/20300/main.cpp
Labels: Solution, Accept, New_Contributor, C++

#261 [ADD] 20365 cpp solution
  solution/greedy/20365/main.cpp
Labels: Solution, Accept, C++

#262 [ADD] 5430 python solution
  solution/data_structure/5430/main.py
Labels: Solution, Accept, Python

#263 [ADD] 14719 python solution
  solution/implementation/14719/main.py
Labels: Solution, Accept, Python

#264 [ADD] 9655 python solution
  solution/dynamic_programming_1/9655/main.py
Labels: Solution, Accept, New_Contributor, Simple Check Success, Python

#265 [ADD] 17485 python solution
  solution/dynamic_programming_2/17485/main.py
Labels: Solution, Accept, Simple Check Success, Python

#266 [ADD] 10282 python solution
  solution/shortest_path/10282/main.py
Labels: Solution, Accept, Simple Check Success, Python

#267 [ADD] 1726 python solution
  solution/graph_traversal/1726/main.py
Labels: Solution, Accept, Simple Check Success, Python

#268 [ADD] 16954 python solution
  solution/graph_traversal/16954/main.py
Labels: Solution, Accept, Simple Check Success, Python

#269 [ADD] 1719 python solution
  solution/shortest_path/1719/main.py
Labels: Solution, Accept, Simple Check Success, Python

#270 [ADD] 1238 python solution
  solution/shortest_path/main.py
Labels: Solution, Accept, Simple Check Success, Python

#271 [Add] 1477 python solution
  solution/binary_search/1477/main.py
Labels: Solution, Accept, Simple Check Success, Python

#273 [Add] 21923 python solution
  solution/dynamic_programming_2/21923/main.py
Labels: Solution, Accept, Simple Check Success, Python

#274 [Add] 15806 python solution
  solution/implementation/15806/main.py
Labels: Solution, Accept, Simple Check Success, Python

#275 [Add] 3079 python solution
  solution/binary_search/3079/main.py
Labels: Solution, Accept, Simple Check Success, Python

#277 [ADD] 2504 cpp solution
  solution/data_structure/2504/main.cpp
Labels: Solution, Accept, C++

#280 [Add] 15787 python solution
  solution/implementation/15787/main.py
Labels: Solution, Accept, Simple Check Success, Python

#282 [Add] 21315 python solution
  solution/brute_force/21315/main.py
Labels: Solution, Accept, Simple Check Success, Python

#283 [Add] 22869 python solution
  solution/dynamic_programming_1/22869/main.py
Labels: Solution, Accept, Simple Check Success, Python

#284 [Add] 4179 python solution
  solution/graph_traversal/4179/main.py
Labels: Solution, Accept, Simple Check Success, Python

#285 [ADD] 2470 python solution
  solution/binary_search/2470/main.py
Labels: Solution, Accept, Simple Check Success, Python

#286 [ADD] python solution 11659
  solution/prefix_sum/11659/main.py
Labels: Solution, Accept, Simple Check Success, Python

#287 [ADD] python solution 2015
  solution/prefix_sum/2015/main.py
Labels: Solution, Accept, Simple Check Success, Python

#288 [Add] 22944 python solution
  solution/backtracking/22944/main.py
Labels: Solution, Accept, Simple Check Success, Python

#290 [Add] 2141 python solution
  solution/greedy/2141/main.py
Labels: Solution, Accept, Simple Check Success, Python

#291 [ADD] ADD 2504 solution (Python)
  solution/data_structure/2504/main.py
Labels: Solution, Accept, Simple Check Success, Python

#292 [ADD] ADD 2800 solution (Python)
  solution/data_structure/2800/main.py
Labels: Solution, Accept, Simple Check Success, Python

#293 [ADD] 19598 python solution
  solution/greedy/19598/main.py
Labels: Solution, Accept, Simple Check Success, Python

#294 [ADD] 15681 python solution
  solution/tree/15681/main.py
Labels: Solution, Accept, Simple Check Success, Python

#295 [ADD] 2812 python solution
  solution/greedy/2812/main.py
Labels: Solution, Accept, Simple Check Success, Python

#296 [ADD] 2212 python solution
  solution/greedy/2212/main.py
Labels: Solution, Accept, Simple Check Success, Python

#297 [ADD] 1707 python solution
  solution/graph_traversal/1707/main.py
Labels: Solution, Accept, Simple Check Success, Python

#299 [ADD] 5618 java solution
  solution/math/5618/Main.java
Labels: Solution, Accept, New_Contributor, Simple Check Success, Java
