Repository tony9402/baekjoon, pull requests merged in 2021-12, with the labels that each got.

#300 [ADD] 22864 java solution
  solution/math/22864/Main.java
Labels: Solution, Accept, Simple Check Success, Java

#301 [ADD] 2745 java solution
  solution/math/2745/Main.java
Labels: Solution, Accept, Java

#302 [ADD] 2217 java solution
  solution/greedy/2217/Main.java
Labels: Solution, Accept, Java

#303 [ADD] 1541 java solution
  solution/greedy/1541/Main.java
Labels: Solution, Accept, Java

#304 [ADD] 20437 java solution
  solution/string/20437/Main.java
Labels: Solution, Accept, Java

#305 [ADD] 1912 java solution
  solution/dynamic_programming_1/1912/Main.java
Labels: Solution, Accept, Java

#306 [ADD] 1106 java solution
  solution/dynamic_programming_1/1106/Main.java
Labels: Solution, Accept, Java

#307 [ADD] 1010 java solution
  solution/dynamic_programming_1/1010/Main.java
Labels: Solution, Accept, Java

#308 [ADD] 9655 java solution
  solution/dynamic_programming_1/9655/Main.java
Labels: Solution, Accept, Java

#309 [ADD] 11726 java solution
  solution/dynamic_programming_1/11726/Main.java
Labels: Solution, Accept, Java

#310 [ADD] 2407 java solution
  solution/dynamic_programming_1/2407/Main.java
Labels: Solution, Accept, Java

#311 [ADD] 5430 java solution
  solution/data_structure/5430/Main.java
Labels: Solution, Accept, Java

#312 [ADD] 15681 java solution
  solution/tree/15681/Main.java
Labels: Solution, Accept, Java

#313 [ADD] 11659 java solution
  solution/prefix_sum/11659/Main.java
Labels: Solution, Accept, Java

#316 [ADD] 14940 java solution
  solution/graph_traversal/14940/Main.java
Labels: Solution, Accept, Java

#317 [ADD] 17836 java solution
  solution/graph_traversal/17836/Main.java
Labels: Solution, Accept, Java

#318 [ADD] 16954 java solution
  solution/graph_traversal/16954/Main.java
Labels: Solution, Accept, Java

#319 [ADD] 16954 cpp solution
  solution/graph_traversal/16954/main.cpp
Labels: Solution, Accept, C++

#320 [ADD] 17836 cpp solution
  solution/graph_traversal/17836/main.cpp
Labels: Solution, Accept, C++

#321 [ADD] 20922 cpp solution
  solution/two_pointer/20922/main.cpp
Labels: Solution, Accept, C++

#322 [ADD] 11659 cpp solution
  solution/prefix_sum/11659/main.cpp
Labels: Solution, Accept, C++

#272 [Add] 18808 python solution
  solution/brute_force/18808/main.py
Labels: Solution, Accept, Simple Check Success, Python

#276 Add cpp solution 13140
  solution/brute_force/13140/main.cpp
Labels: Solution, Accept, C++

#279 [Add] 18427 python solution
  solution/dynamic_programming_2/18427/main.py
Labels: Solution, Accept, Python

#281 [Add] 14567 python solution
  solution/dynamic_programming_2/14567/main.py
Labels: Solution, Accept, Python

#289 [ADD] python solution 13164
  solution/greedy/13164/main.py
Labels: Solution, Accept, Python

#332 [ADD] 21278 python solution
  solution/brute_force/21278/main.py
Labels: Solution, Accept, Python

#333 [ADD] 21942 python solution
  solution/data_structure2/21942/main.py
Labels: Solution, Accept, Python

#334 [ADD] 2493 Java solution
  solution/data_structure/2493/Main.java
Labels: Solution, Accept, Java

#335 [ADD] 21939 java solution
  solution/data_structure2/21939/Main.java
Labels: Solution, Accept, Java

#336 [ADD] 1967 java solution
  solution/tree/1967/Main.java
Labels: Solution, Accept, Java

#337 [ADD] 3584 java solution
  solution/tree/3584/Main.java
Labels: Solution, Accept, Java

#338 [ADD] 2026 python solution
  solution/backtracking/2026/main.py
Labels: Solution, Accept, Python

#339 [ADD] 1990 java solution
  solution/math/1990/Main.java
Labels: Solution, Accept, Java
