Repository tony9402/baekjoon, pull requests merged in 2021-06, with the labels that each got.

#106 add : 11000 python solution
  solution/greedy/11000/main.py
Labels: Accept, Solution

#107 [ADD] 1010 python solution
  solution/dynamic_programming_1/1010/main.py
Labels: Accept, Solution

#108 [ADD] 1012 python solution
  solution/graph_traversal/1012/main.py
Labels: Accept, Solution

#110 [ADD] 1058 python solution
  solution/graph_traversal/1058/main.py
Labels: Accept, Solution

#111 add : 1269 python solution
  solution/data_structure2/1269/main.py
Labels: Accept, Solution

#112 add : 9251 python solution
  solution/dynamic_programming_2/9251/main.py
Labels: Accept, Solution

#113 [ADD] 20924 python solution
  solution/graph_traversal/20924/main.py
Labels: Accept, Solution

#109 [ADD] 1038 python solution
  solution/backtracking/1038/main.py
Labels: Accept, Solution

#114 Solve: bruteforce/14500/main.py
  solution/brute_force/14500/main.py
Labels: Accept, Solution

#115 [ADD] 13549-cpp-solution
  solution/graph_traversal/13549/main.cpp
Labels: Accept, Solution

#116 [ADD] 1520-cpp solution
  solution/dynamic_programming_2/1520/main.cpp
Labels: Accept, Solution

#117 [ADD] 2309 python solution
  solution/brute_force/2309/main.py
Labels: Accept, New_Contributor, Solution

#118 [ADD] 1927 python solution
  solution/data_structure2/1927/main.py
Labels: Accept, Simple Check Success, Solution

#119 [ADD] 1302 python solution
  solution/data_structure2/1302/main.py
Labels: Accept, Simple Check Success, Solution

#120 [ADD] 11720 python solution
  solution/string/11720/main.py
Labels: Accept, Simple Check Success, Solution

#121 [ADD] 11365 python solution
  solution/string/11365/main.py
Labels: Accept, Simple Check Success, Solution

#122 [ADD] 1181 python solution
  solution/string/1181/main.py
Labels: Accept, Simple Check Success, Solution

#123 [ADD] 9094 python solution
  solution/brute_force/9094/main.py
Labels: Accept, Simple Check Success, Solution

#125 [ADD] 11724 python solution
  solution/graph_traversal/11724/main.py
Labels: Accept, Simple Check Success, Solution

#124 [ADD] 11508 python solution
  solution/greedy/11508/main.py
Labels: Accept, Simple Check Success, Solution

#126 [ADD] 1931 python solution
  solution/greedy/1931/main.py
Labels: Accept, DONE, Simple Check Success, Solution

#127 [ADD] 1969 python solution
  solution/brute_force/1969/main.py
Labels: Accept, Simple Check Success, Solution

#129 [ADD] 7568 python solution
  solution/brute_force/7568/main.py
Labels: Accept, Simple Check Success, Solution

#130 [ADD] 1436 python solution
  solution/brute_force/1436/main.py
Labels: Accept, Simple Check Success, Solution

#131 [ADD] 21918 python solution
  solution/implementation/21918/main.py
Labels: Accept, Simple Check Success, Solution

#132 [ADD] 11399 python solution
  solution/greedy/11399/main.py
Labels: Accept, Simple Check Success, Solution

#133 [ADD] 11726 python solution
  solution/dynamic_programming_1/11726/main.py
Labels: Accept, Simple Check Success, Solution

#134 [ADD] 11727 python solution
  solution/dynamic_programming_1/11727/main.py
Labels: Accept, Simple Check Success, Solution

#135 [ADD] 2805 python solution
  solution/binary_search/2805/main.py
Labels: Accept, Simple Check Success, Solution

#136 [ADD] 1654 python solution
  solution/binary_search/1654/main.py
Labels: Accept, Simple Check Success, Solution

#138 [ADD] 2503 python solution
  solution/brute_force/2503/main.py
Labels: Accept, Simple Check Success, Solution

#143 [ADD] 18511 python solution
  solution/brute_force/18511/main.py
Labels: Accept, Simple Check Success, Solution

#140 [ADD] 5568 python solution
  solution/brute_force/5568/main.py
Labels: Accept, DONE, Simple Check Success, Solution

#128 [ADD] 16953 python solution
  solution/graph_traversal/16953/main.py
Labels: Accept, Simple Check Success, Solution

#145 [ADD] 1935 python solution
  solution/data_structure/1935/main.py
Labels: Accept, Simple Check Success, Solution

#146 [ADD] 7569 python solution
  solution/graph_traversal/7569/main.py
Labels: Accept, Simple Check Success, Solution

#148 [ADD] 18258 python solution
  solution/data_structure/18258/main.py
Labels: Accept, Simple Check Success, Solution

#149 [ADD] 2164 python solution
  solution/data_structure/2164/main.py
Labels: Accept, Simple Check Success, Solution

#150 [ADD] 10866 python solution
  solution/data_structure/10866/main.py
Labels: Accept, Simple Check Success, Solution

#151 [ADD] 14425 python solution
  solution/data_structure2/14425/main.py
Labels: Accept, Simple Check Success, Solution

#152 [ADD] 11279 python solution
  solution/data_structure2/11279/main.py
Labels: Accept, Simple Check Success, Solution

#139 [ADD] 17626 python solution
  solution/brute_force/17626/main.py
Labels: Accept, Simple Check Success, Solution
