Repository tony9402/baekjoon, pull requests merged in 2021-08, with the labels that each got.

#206 [ADD] 1874 cpp solution
  solution/data_structure/1874/main.cpp
Labels: Solution, Accept, Simple Check Success

#207 [ADD] 14499 python solution
  solution/simulation/14499/main.py
Labels: Solution, Accept, Simple Check Success

#208 [ADD] 15661 python solution
  solution/brute_force/15661/main.py
Labels: Solution, Accept, Simple Check Success

#209 [ADD] 21608 python solution
  solution/implementation/21608/main.py
Labels: Solution, Accept, Simple Check Success

#210 [ADD] 14891 python solution
  solution/simulation/14891/main.py
Labels: Solution, Accept, Simple Check Success

#211 [ADD] 3190 python solution
  solution/simulation/3190/main.py
Labels: Solution, Accept, Simple Check Success

#212 [ADD] 3029 java solution
  solution/string/3029/main.java
Labels: Solution, Accept, New_Contributor, Simple Check Success

#213 [ADD] 16234 python solution
  solution/simulation/16234/main.py
Labels: Solution, Accept, Simple Check Success

#214 [ADD] 14620 python solution
  solution/brute_force/14620/main.py
Labels: Solution, Accept, Simple Check Success

#215 [ADD] 21610 python solution
  solution/simulation/21610/main.py
Labels: Solution, Accept, Simple Check Success

#216 [ADD] 1922 python solution
  solution/minimum_spanning_tree/1922/main.py
Labels: Solution, Accept, Simple Check Success

#217 [ADD] 1976 python solution
  solution/disjoint_set/1976/main.py
Labels: Solution, Accept, Simple Check Success

#219 [ADD] 2589 python solution
  solution/graph_traversal/2589/main.py
Labels: Solution, Accept, Simple Check Success

#218 [ADD] 1520 python solution
  solution/dynamic_programming_2/1520/main.py
Labels: Solution, Accept, Simple Check Success

#222 [Add] - c++ solution 1043
  solution/disjoint_set/1043/main.cpp
Labels: Solution, Accept, New_Contributor, Simple Check Success

#223 2143
  solution/binary_search/2143/main.cpp
Labels: Solution, Accept, Simple Check Success

#225 [ADD] 16198 python solution
  solution/backtracking/16198/main.py
Labels: Solution, Accept, Simple Check Success

#226 [ADD] 10974 python solution
  solution/backtracking/10974/main.py
Labels: Solution, Accept, Simple Check Success

#227 [ADD] 15658 python solution
  solution/backtracking/15658/main.py
Labels: Solution, Accept, Simple Check Success

#228 [ADD] 1405 python solution
  solution/backtracking/1405/main.py
Labels: Solution, Accept, Simple Check Success

#229 [ADD] 1647 python solution
  solution/minimum_spanning_tree/1647/main.py
Labels: Solution, Accept, Simple Check Success

#230 [ADD] 21924 python solution
  solution/minimum_spanning_tree/21924/main.py
Labels: Solution, Accept, Simple Check Success, Python

#231 [ADD] 17831 python solution
  solution/dynamic_programming_on_trees/17831/main.py
Labels: Solution, Accept, New_Contributor, Simple Check Success, Python

#232 [ADD] 1135 python solution
  solution/dynamic_programming_on_trees/1135/main.py
Labels: Solution, Accept, Simple Check Success, Python

#233 [ADD] 6497 python solution
  solution/minimum_spanning_tree/6497/main.py
Labels: Solution, Accept, Simple Check Success, Python

#234 [ADD] 1806 python solution
  solution/two_pointer/1806/main.py
Labels: Solution, Accept, Simple Check Success, Python

#235 [ADD] 2473 python solution
  solution/two_pointer/2473/main.py
Labels: Solution, Accept, Simple Check Success, Python

#236 [ADD] 1717 python solution
  solution/disjoint_set/1717/main.py
Labels: Solution, Accept, Simple Check Success, Python

#238 [ADD] 14916 python solution
  solution/greedy/14916/main.py
Labels: Solution, Accept, Simple Check Success, Python

#239 [ADD] 1758 python solution
  solution/greedy/1758/main.py
Labels: Solution, Accept, Simple Check Success, Python

#240 [ADD] 20115 python solution
  solution/greedy/20115/main.py
Labels: Solution, Accept, Simple Check Success, Python

#241 [ADD] 2579 python solution
  solution/dynamic_programming_1/2579/main.py
Labels: Solution, Accept, Simple Check Success, Python

#242 [ADD] 2294 python solution
  solution/dynamic_programming_1/2294/main.py
Labels: Solution, Accept, Simple Check Success, Python

#243 [ADD] 1890 python solution
  solution/dynamic_programming_1/1890/main.py
Labels: Solution, Accept, Simple Check Success, Python

#244 [ADD] 9465 python solution
  solution/dynamic_programming_1/9465/main.py
Labels: Solution, Accept, Simple Check Success, Python

#245 [ADD] 17471 python solution
  solution/brute_force/17471/main.py
Labels: Solution, Accept, Simple Check Success, Python

#246 [ADD] 2018 python solution
  solution/two_pointer/2018/main.py
Labels: Solution, Accept, Simple Check Success, Python

#247 [ADD] 1940 python solution
  solution/two_pointer/1940/main.py
Labels: Solution, Accept, Simple Check Success, Python

#249 [ADD] 15486 java solution
  solution/dynamic_programming_1/15486/Main.java
Labels: Solution, Accept, New_Contributor, Simple Check Success, Java

#250 [ADD] 1991 cpp solution
  solution/tree/1991/main.cpp
Labels: Solution, Accept, New_Contributor, Simple Check Success, C++

#251 [ADD] 2559 python solution
  solution/two_pointer/2559/main.py
Labels: Solution, Accept, Simple Check Success, Python

#252 [ADD] 17352 cpp solution
  solution/disjoint_set/17352/main.cpp
Labels: Solution, Accept, New_Contributor, Simple Check Success, C++

#253 [ADD] 1182 java solution
  solution/backtracking/1182/Main.java
Labels: Solution, Accept, Simple Check Success, Java

#254 [ADD] 22942 cpp solution
  solution/data_structure/22942/main.cpp
Labels: Solution, Accept, Simple Check Success, C++

#255 [ADD] cpp solution 9328
  solution/graph_traversal/9328/main.cpp
Labels: Solution, Accept, Simple Check Success, C++
