Repository tony9402/baekjoon, pull requests merged in 2021-07, with the labels that each got.

#153 [ADD] 11286 python solution
  solution/data_structure2/11286/main.py
Labels: Accept, Simple Check Success, Solution

#154 [ADD] 2798 python solution
  solution/brute_force/2798/main.py
Labels: Accept, Simple Check Success, Solution

#156 [ADD] 1145 python solution
  solution/brute_force/1145/main.py
Labels: Accept, Simple Check Success, Solution

#157 [ADD] 1316 python solution
  solution/string/1316/main.py
Labels: Accept, Simple Check Success, Solution

#158 [ADD] 1978 python solution
  solution/math/1978/main.py
Labels: Accept, DONE, Simple Check Success, Solution

#159 [ADD] 3986 python solution
  solution/data_structure/3986/main.py
Labels: Accept, Simple Check Success, Solution

#160 [ADD] 4963 python solution
  solution/graph_traversal/4963/main.py
Labels: Accept, Simple Check Success, Solution

#161 [ADD] 5618 python solution
  solution/math/5618/main.py
Labels: Accept, Simple Check Success, Solution

#162 [ADD] 10546 python solution
  solution/data_structure2/10546/main.py
Labels: Accept, Simple Check Success, Solution

#163 [ADD] 10845 python solution
  solution/data_structure/10845/main.py
Labels: Accept, Simple Check Success, Solution

#164 [ADD] 11653 python solution
  solution/math/11653/main.py
Labels: Accept, Simple Check Success, Solution

#165 [ADD] 13410 python solution
  solution/brute_force/13410/main.py
Labels: Accept, Simple Check Success, Solution

#166 [ADD] 21919 python solution
  solution/math/21919/main.py
Labels: Accept, Simple Check Success, Solution

#167 [ADD] 21920 python solution
  solution/math/21920/main.py
Labels: Accept, Simple Check Success, Solution

#168 [ADD] 1817 python solution
  solution/greedy/1817/main.py
Labels: Accept, Simple Check Success, Solution

#169 [ADD] 1966 python solution
  solution/data_structure/1966/main.py
Labels: Accept, DONE, Simple Check Success, Solution

#170 [ADD] 2512 python solution
  solution/binary_search/2512/main.py
Labels: Accept, Simple Check Success, Solution

#171 [ADD] 2729 python solution
  solution/implementation/2729/main.py
Labels: Accept, Simple Check Success, Solution

#172 [ADD] 2776 python solution
  solution/binary_search/2776/main.py
Labels: Accept, Simple Check Success, Solution

#173 [ADD] 10798 python solution
  solution/string/10798/main.py
Labels: Accept, Simple Check Success, Solution

#174 [ADD] 16435 python solution
  solution/greedy/16435/main.py
Labels: Accept, Simple Check Success, Solution

#175 [ADD] 20154 python solution
  solution/string/20154/main.py
Labels: Accept, Simple Check Success, Solution

#176 [ADD] 1021 python solution
  solution/data_structure/1021/main.py
Labels: Accept, Simple Check Success, Solution

#177 [ADD] 2346 python solution
  solution/data_structure/2346/main.py
Labels: Accept, Simple Check Success, Solution

#178 [ADD] 9046 python solution
  solution/string/9046/main.py
Labels: Accept, Simple Check Success, Solution

#179 [ADD] 16208 python solution
  solution/greedy/16208/main.py
Labels: Accept, Simple Check Success, Solution

#180 [ADD] 1032 python solution
  solution/string/1032/main.py
Labels: Accept, Simple Check Success, Solution

#181 [ADD] 1152 python solution
  solution/string/1152/main.py
Labels: Accept, Simple Check Success, Solution

#182 [ADD] 2204 python solution
  solution/string/2204/main.py
Labels: Accept, Simple Check Success, Solution

#183 [ADD] 2744 python solution
  solution/string/2744/main.py
Labels: Accept, Simple Check Success, Solution

#184 [ADD] 4096 python solution
  solution/brute_force/4096/main.py
Labels: Accept, Simple Check Success, Solution

#185 [ADD] 6236 python solution
  solution/binary_search/6236/main.py
Labels: Accept, Simple Check Success, Solution

#186 [ADD] 10816 python solution
  solution/binary_search/10816/main.py
Labels: Accept, Simple Check Success, Solution

#187 [ADD] 12871 python solution
  solution/string/12871/main.py
Labels: Accept, Simple Check Success, Solution

#193 [ADD] 14247 python solution
  solution/greedy/14247/main.py
Labels: Simple Check Success, Solution

#188 [ADD] 1182 python solution
  solution/backtracking/1182/main.py
Labels: Accept, Simple Check Success, Solution

#189 [ADD] 3029 python solution
  solution/string/3029/main.py
Labels: Accept, DONE, Simple Check Success, Solution

#190 [ADD] 9461 python solution
  solution/dynamic_programming_1/9461/main.py
Labels: Accept, Simple Check Success, Solution

#191 [ADD] 11722 python solution
  solution/dynamic_programming_1/11722/main.py
Labels: Accept, Simple Check Success, Solution

#192 [ADD] 13699 python solution
  solution/dynamic_programming_1/13699/main.py
Labels: Accept, Simple Check Success, Solution

#194 [ADD] 16171 cpp solution
  solution/string/16171/main.cpp
Labels: New_Contributor, Simple Check Success, Solution

#195 [ADD] 10799 cpp solution
  solution/data_structure/10799/main.cpp
Labels: Accept, New_Contributor, Simple Check Success, Solution

#196 [ADD] 1463 cpp solution
  solution/dynamic_programming_1/1463/main.cpp
Labels: Accept, Dynamic Programming, Simple Check Success, Solution

#199 [ADD] 9079 Solution
  solution/brute_force/9079/main.cpp
Labels: Accept, Brute Force, DONE, Simple Check Success, Solution

#200 [ADD] 19637 cpp solution
  solution/binary_search/19637/main.cpp
Labels: Accept, Binary Search, Simple Check Success, Solution

#201 [ADD] 2800 java solution
  solution/data_structure/2800/Main.java
Labels: Accept, Data Structure, New_Contributor, Simple Check Success, Solution

#202 [ADD] 5597 python solution
  solution/implementation/5597/main.py
Labels: Accept, Implementation, New_Contributor, Simple Check Success, Solution

#204 [ADD] 4386 python solution
  solution/minimum_spanning_tree/4386/main.py
Labels: Accept, Simple Check Success
